<!DOCTYPE html>
<html>
<head>
  <title>ngGridder</title>
  <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./ngGridder.css">
</head>
<body ng-app="example">
  <div class="container" ng-view ng-controller="ExampleCtrl">
    <h1>ngGridder</h1>
    <ng-gridder layout="panels" panel-types="panelTypes" changed="changed()" lock-position="lockPosition"></ng-gridder>

    <h1>Model</h1>
    <ul>
      <li ng-repeat="row in panels">row {{$index}}
        <ul>
          <li ng-repeat="col in row.cols">col {{$index}}: {{col.type}} {{col.settings}} {{col.width}}</li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="./jquery/dist/jquery.js"></script> <!-- bower-components -->
  <script src="./angular/angular.js"></script> <!-- bower-components -->
  <script src="./bootstrap/dist/js/bootstrap.js"></script> <!-- bower-components -->
  <script src="./ngGridder.js"></script> <!-- src -->

  <script src="app.js"></script>
  <script src="panels/abc/module.js"></script>
  <script src="panels/def/module.js"></script>
  <script src="panels/grid/module.js"></script>
</body>
</html>
